{% extends 'base.html' %}

{% block content %}

<h1> HOME </h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, quasi. Eligendi doloribus quisquam ipsam quos commodi, obcaecati dignissimos porro, nam sint aut vero error, fugiat numquam cupiditate pariatur. Recusandae deserunt pariatur, autem quo dolorum ullam veritatis dignissimos magni fugiat harum magnam vitae quidem optio asperiores atque ipsam ab dolores nostrum nisi ut exercitationem provident assumenda accusantium suscipit! Molestiae, ratione eum iure id, sint, dolore soluta quae nisi repellendus provident sed natus unde. Minus nihil fugiat eveniet voluptate provident cupiditate hic quas ab sed amet sequi cum, quidem, consequatur, quaerat eaque? In officiis itaque magnam at est. Magni deserunt laudantium maiores?</p>

{% endblock %}